body {
    background-color: #FFD89C;
    margin: 5%;
    text-align: center;
}

h1 {
    font-family: "Geologica" , sans-serif ;
    font-size: 600%;
    font-weight: 800;
    text-align: center;    
}

p {
    text-align: center;
    font-size: 150%;
    font-family: "Geologica", sans-serif;
}

button {
    font-family: "Geologica" , sans-serif;
    text-align: center;
}




/* divs */
 




#top{
    text-align: center;
    margin-bottom: 20%;
    margin-top: 5%;
}

#middle {
    padding-top: 10%;
    margin-bottom: 10%;
}

#bottom {
    padding-top:10%;
    margin-bottom: 25%;
}


/* buttons */


.btn {
    font-family: "Geologica", sans-serif;
    font-size: xx-large;
}

.book-a-meal {
    margin: 2%;
}



/* images */

#fork-and-knife {
    margin: 3%;
    width: 9rem;

}

#download-icon {
    scale: 70%;
}
#food-icon {
    scale: 80%;
}

/* cards */


.card-group{
    padding-top: 2%;
}

.card {
    margin: 3%;
    text-align: center;
    
}

.card-description {
    font: 1em sans-serif;
}

.card-footer {
    /* background-color: black; */
    color: white;

}


/* id's */


#copyright {
    font-size: 1rem;
}




/* media queries */


@media (max-width: 856px) {
    h1 {
        font-size: 300%;
    }
    p {
        font-size: 100%;
    }

    .btn {
        font-size: large;
    }

}